* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fluid-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

body {
  
}

/* .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 100;
} */
.box {
    height: auto;
}

nav {
    /* background-image: url(images/mainbackground.jpg);
    height: 100vh;
    background-repeat:no-repeat;
    background-size: cover; 
    cursor: pointer; 
    background-position: center; */
}

.left {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.right {
    width: 50%;
    display: flex;
    justify-content: right;

}

.mainHeading {
    text-align: left;
}

.mainHeading h1 {
    font-size: 120px;
    color: black;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;

}



.mainHeading a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    margin: 0px 10px;
}

.right .inputDisplay {
    width: 380px;
    margin-top: 10px;
    height: 35px;
    border: solid 1px black;
    display: flex;
    justify-content: end;
    cursor: pointer;
    background-color: white;
    position: absolute;

    animation-duration: 1s;
    animation-name: change;
}

@keyframes change {
    from {
        top: 25%;
    }

    to {
        top: 3%;
    }
}

.inputDisplay p {
    color: rgb(75, 75, 75);
    font-size: 13px;
    margin: 5px;
}

.btnSession button {
    background-color: transparent;
    color: black;
    font-size: 13px;
    border: none;
    margin: 10px;

}

.icon i {
    color: black;
    margin: 20px;
   
}

.icon .box {
    width: 440px;
    height: 80vh;
    border: solid 1px black;
    background-color: white;
    position: relative;
    left: 10%;
    top: 2%;
    border: solid 1px black;
    display: none;
}

.box--Heading h1 {
    font-size: 100px;

    font-family: 'Times New Roman', Times, serif;
}

#main-zara {
    position: relative;
    z-index: 10;
}

.box--Heading {
    text-align: center;
    border: solid 1px black;
    padding: 5px;

}

.links a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 10px;
}

.links {
    text-align: center;
}

.second {
    position: relative;
    z-index: 12;
}

.second--links {
    height: 57vh;
    display: flex;
    position: relative;
    z-index: 11;
    flex-direction: column;
    overflow-y: auto;

}

.second--links a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.btnOnScroll button {
    background-color: transparent;
    border: solid 1px black;
    font-size: 13px;
    margin: 20px;
    padding: 5px;
}

.close--btn {
    border: none;
    color: black;
    padding: 5px;
    font-size: 25px;
    background-color: transparent;
    margin: 20px;
}

.Searchbar {
    border: solid 1px black;
    width: 100%;
    height: 8vh;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Searchbar input {
    width: 90%;
   
    height: 90%;
    border: none;
    outline-style: 1px solid white;
    outline-offset: 1px solid white;
    outline: 1px solid white;

}
.shopping-item{
    display: flex;
  

}
.shopping-item .item{
    border: solid 1px black;

    height: 500px;
    width: 17%;
    background-color: white;
}
.shopping-item img{
    width: 100%;
    height: 100%;
}
.shopping-item .item-img{
    width: 100%;
    height: 85%;
    border-right:none ;
}
.item-price{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.item-name a{
    text-decoration: none;
    font-size: 13px;
    color: black;

}
.item p{
 margin: 5px 5px ;
}
.space{
    height: 8vh;
    background-color: white;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 90%;
}
/* .for-spacing{
   height: 33.5vh;
} */
body{
    overflow: hidden;
}
.forOver{
    overflow-y:auto;
    height: 70vh;

}
.footer{
    display: flex;
    justify-content: left;
    height: 70vh;
    margin-top: 20px;
    align-items: center;
}
.links--footer{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.links--footer a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
 a:hover{
text-decoration: underline;
}
.links--footer p{
    font-weight: 500;
}